
/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    background: #CBCBCB;
    color: #323232;
}

.header { 
    background: #657E6C;
    height: 195px;
    position: relative;
    padding-top: 40px;
}

.nav-container { 
    background: #323232;
    height: 53px;
    position: absolute;
    bottom: 0;
    width: 100%;
    nav {
        height: 53px;
        color: #fff;
        a {
            &:hover, &.active{
                color: #657E6C;
            }
        }
        .nav-item {
            color: #fff;
            font-size: 22px;
            font-family: 'andadabold';
            line-height: 53px;
        }
        .nav-icon {
            height: 53px;
            i {
                color: #fff;
                font-size: 22px;
                font-size: 26px;
                line-height: 53px;                
            }
            &:hover {
                i {
                    color: #657E6C;
                }
            }
        }
    }
}

.heading-logo { 
    height: 258px;
    width: 258px;
    background: url("../img/logo.svg") left top no-repeat;
    background-size: 258px 258px;
    position: relative;
    margin: 0 auto;
    z-index: 5;
}
.no-svg {
    .heading-logo {
        background: url("../img/logo.png") left top no-repeat;
    }
}

.main-container {
    margin-top: 138px;
    padding-top: 32px;
    border-top: #323232 solid 2px;

    p, li {
        font-family: 'andadaregular';
        font-size: 22px;
    }
    h3, strong {
        font-family: 'andadabold';
        font-weight: 'normal';
        margin-top: 0;
    }
    .main-icon{
        font-size: 60px;
    }
    .row {
        margin-bottom: 30px; 
    }

    li {
        margin-bottom: 10px;
        &.last{
            margin-bottom: 0px;
        }
    }
}